In [38]:
from importlib import reload
import preprocess

reload(preprocess)

from preprocess import load_datasets, preprocess_hepatitis_datasets
import pandas as pd

In [22]:
# Load mushroom train and test dataframes

train_dfs = load_datasets('datasetsCBR/hepatitis/hepatitis.fold.*.train.arff')
test_dfs = load_datasets('datasetsCBR/hepatitis/hepatitis.fold.*.test.arff')

train_dfs[0].head()

,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER_BIG,LIVER_FIRM,SPLEEN_PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK_PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY,Class
0,38.0,b'female',b'no',b'no',b'yes',b'yes',b'yes',b'yes',b'yes',b'no',b'yes',b'yes',b'yes',1.2,118.0,16.0,2.8,NaN,b'yes',b'DIE'
1,54.0,b'female',b'no',b'no',b'yes',b'yes',b'no',b'yes',b'no',b'no',b'no',b'yes',b'no',1.2,85.0,92.0,3.1,66.0,b'yes',b'LIVE'
2,58.0,b'male',b'yes',b'no',b'yes',b'no',b'no',b'yes',b'yes',b'no',b'yes',b'no',b'no',1.4,175.0,55.0,2.7,36.0,b'no',b'LIVE'
3,23.0,b'female',b'yes',b'no',b'no',b'no',b'no',b'?',b'?',b'?',b'?',b'?',b'?',4.6,56.0,16.0,4.6,NaN,b'no',b'LIVE'
4,31.0,b'female',b'yes',b'no',b'no',b'no',b'no',b'yes',b'no',b'no',b'no',b'no',b'no',1.0,85.0,20.0,4.0,100.0,b'no',b'LIVE'

In [23]:
# Check if there are any missing values in the dfs
pd.concat(test_dfs + train_dfs).isnull().sum()

# There are missing values, therefore we need to either drop the rows or imputate values

AGE                  0
SEX                  0
STEROID              0
ANTIVIRALS           0
FATIGUE              0
MALAISE              0
ANOREXIA             0
LIVER_BIG            0
LIVER_FIRM           0
SPLEEN_PALPABLE      0
SPIDERS              0
ASCITES              0
VARICES              0
BILIRUBIN           60
ALK_PHOSPHATE      290
SGOT                40
ALBUMIN            160
PROTIME            670
HISTOLOGY            0
Class                0
dtype: int64

In [39]:
# Preprocess the hepatitis train and test dataframes
# For this dataset, we need to convert several columns from categorical to numerical values (via Label Encoding) 
# to ensure all columns are of the same type (numerical). We also need to normalise the numerical columns (via Min-Max Scaling) and
# fill in missing entries in the data (via Simple Imputer)
for df in train_dfs + test_dfs:
    preprocess_hepatitis_datasets(df)

train_dfs[0]

,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER_BIG,LIVER_FIRM,SPLEEN_PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK_PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY,Class
0,0.436620,0,1,0,2,2,2,2,2,1,2,2,2,0.116883,0.342007,0.003155,0.162791,0.607654,1,0
1,0.661972,0,1,0,2,2,1,2,1,1,1,2,1,0.116883,0.219331,0.123028,0.232558,0.660000,1,1
2,0.718310,1,2,0,2,1,1,2,2,1,2,1,1,0.142857,0.553903,0.064669,0.139535,0.360000,0,1
3,0.225352,0,2,0,1,1,1,0,0,0,0,0,0,0.558442,0.111524,0.003155,0.581395,0.607654,0,1
4,0.338028,0,2,0,1,1,1,2,1,1,1,1,1,0.090909,0.219331,0.009464,0.441860,1.000000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,0.366197,0,1,0,2,2,1,2,1,1,1,2,1,0.051948,0.137546,0.104101,0.209302,0.310000,1,0
137,0.338028,0,0,1,1,1,1,2,1,1,1,1,1,0.051948,0.074349,0.059937,0.441860,0.800000,0,1
138,1.000000,0,2,0,2,1,1,2,1,1,1,1,1,0.051948,0.260223,0.028391,0.441860,0.607654,0,1
139,0.380282,0,2,0,1,1,1,2,1,1,1,1,1,0.077922,0.256506,0.022082,0.441860,0.750000,0,1
140,0.436620,0,2,1,2,2,2,2,1,1,2,1,1,0.051948,0.368030,0.080442,0.488372,0.770000,0,1

In [41]:
# Check if there are any missing values in the dfs
pd.concat(test_dfs + train_dfs).isnull().sum()

# No missing values, therefore simple imputer was successful.

AGE                0
SEX                0
STEROID            0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER_BIG          0
LIVER_FIRM         0
SPLEEN_PALPABLE    0
SPIDERS            0
ASCITES            0
VARICES            0
BILIRUBIN          0
ALK_PHOSPHATE      0
SGOT               0
ALBUMIN            0
PROTIME            0
HISTOLOGY          0
Class              0
dtype: int64